@import "tailwindcss";

.container {
  padding: 1rem;
    display: block;

  margin: 0 auto;
}

.cart:hover cart_icon{

  visibility: visible;

}
:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}
