.title {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
 
  z-index: 1;
  margin-bottom: 30px;
  font-weight: 500;
}

.title a {
  background-color: #ffffff;
  color: #711d1c;
  font-size: 1rem;
  display: flex;
  position: relative;
  left: 30px;
  border-radius: 20px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #711d1c;
}


.title span {
  background: #fff;
 
  margin-right: 4rem;
}

.title:before {
  border-top: none;
}


.container {
  padding: 0 20px;
}

.empty {
  width: 100%;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #711d1c21;
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
  color: #711d1c;
}
